.root {
    display: flex;
    marginTop: 100px;
    backgroundColor: Yellow;
}
.modalForm {
    flexGrow: 1;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.Paper {
    display: flex;
    justify-content: center;
}

